body{
    font-family:"微軟正黑體";
    box-sizing: border-box;
}

/* Control styles */
/* .carousel {
    position: relative;
    overflow:hidden;
    transform: translateZ(0px);
  } */
  
  .carousel	input {
    position: absolute;
    left: 0;
    z-index: 3;
    margin: 0;
  }
  
  .carousel input:before {
    position: absolute;
    content: "<";
  }
  input:checked ~ input:before {
    content: ">";
  }
  
  input:checked {
    display: none;
  }
  input:checked ~ input {
    right: 0;
    left: auto;		
  }
  input:checked + div + input {
    z-index: 4;
  }
  input + div {
    position: absolute;
    z-index: 1;
  }  
  input:checked + div {
    z-index: 2;
  }  
  
  /* demo style */
  .carousel {
    /* width: 350px; */
    /* height: 450px; */
    width: 320px;
    height: 420px;
  /*   margin: 2em auto; */
    overflow:hidden;
    transform: translateZ(0px); /* stops flickering incode pen*/
    /* box-shadow: 0 0 2px 1px #ccc; */
  }
  
  .carousel	input {
    cursor: pointer;
    top: 170px;
    width: 45px;
    height: 45px;
    /* border-radius: 50%; */
    left: 5px;
    overflow: hidden; 
    /*隱藏hover白光*/
  }

  input:checked ~ input {
    right: 30px;	
  }

  /* hover白光 */
  .carousel input:after{
    content: "";
    position: absolute;
    top:0;
    left:-100%;
    width:100%;
    height:100%;
    border-radius: 50%;
    opacity: .5;
    background:linear-gradient(90deg,transparent,#fff,transparent);
    transition: 0.5s;
    /* overflow: hidden;  */

  }

  .carousel input:hover:after{
    /* content: ""; */
    left:100%;
  }

  .carousel input:before {
    background: #E3C24A;
    border-radius: 10px;
    /* overflow: hidden; */
    color: #fff;
    font-size: 25px;
    width: 45px;
    height: 45px;
    line-height: 45px;
    text-align: center;
    /* border: 5px solid #E3C24A; */
    
  }
  
  /* Disolve*/
  #test2 input + div {
    transition: opacity 0s 1s;
    opacity: 0;
  }
  #test2 input:checked + div {
    transition: opacity 1s;
    opacity: 1;
  }