@charset "UTF-8";
body {
  font-family: "微軟正黑體";
  box-sizing: border-box;
}

body img {
  width: 100%;
}

body .index_wrapper .visual_banner {
  border: 1px solid red;
  background-image: url("../images/homepage/visual_banner.jpg");
  max-width: 1920px;
  height: 1060px;
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center top;
  display: flex;
}

body .index_wrapper .visual_banner .tea_title {
  border: 1px solid blue;
  margin: 0 auto;
  width: 1200px;
  display: flex;
  flex-direction: row-reverse;
}

body .index_wrapper .visual_banner .tea_title .title_font {
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  padding-top: 20%;
}

body .index_wrapper .visual_banner .tea_title .title_font .title_image {
  border: 1px solid green;
  max-width: 563px;
}

body .index_wrapper .visual_banner .tea_title .title_font .title_button {
  border: 1px solid yellow;
  display: flex;
  flex-direction: column;
  padding-left: 24%;
  margin-top: 6%;
}

body .index_wrapper .visual_banner .tea_title .title_font .title_button a.btn_wide {
  position: relative;
  overflow: hidden;
  width: 65%;
  font-size: 30px;
  font-weight: bold;
  color: white;
  outline: none;
  padding: 10px;
  background-color: #E3C24A;
  text-align: center;
  border-radius: 10px;
  margin-bottom: 15px;
  text-decoration: none;
}

body .index_wrapper .visual_banner .tea_title .title_font .title_button a.btn_wide::before {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  opacity: .8;
  background: linear-gradient(90deg, transparent, #fff, transparent);
  transition: 0.5s;
}

body .index_wrapper .visual_banner .tea_title .title_font .title_button a.btn_wide:hover::before {
  content: "";
  left: 100%;
}

body .index_wrapper .green_bk {
  border: 1px solid brown;
  background-color: #C5C887;
  width: 100%;
  margin: 0 auto;
}

body .index_wrapper .green_bk .white_bk {
  border: 1px solid blue;
  background-color: white;
  margin: 50px 150px;
}

body .index_wrapper .green_bk .white_bk .hot_events {
  max-width: 367px;
  margin: 0 auto;
  margin-top: 124px;
  border: 1px solid red;
}

body .index_wrapper .green_bk .white_bk .package_big {
  max-width: 1400px;
  border: 1px solid yellow;
  margin: 0 auto;
}

body .index_wrapper .green_bk .white_bk .package_big .register_title {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  align-content: center;
  padding: 80px 0px 20px 0px;
}

body .index_wrapper .green_bk .white_bk .package_big .register_title h2 {
  font-size: 30px;
  margin-right: 20px;
  color: #56793B;
  font-weight: bold;
  display: inline-flex;
}

body .index_wrapper .green_bk .white_bk .package_big .register_title .title_line {
  border: 1.5px solid #EBEBEB;
  background-color: #EBEBEB;
  width: 46%;
  margin-right: 4%;
}

body .index_wrapper .green_bk .white_bk .package_big .register_title a.btn_middle {
  position: relative;
  overflow: hidden;
  width: 10%;
  font-size: 20px;
  font-weight: bold;
  color: white;
  outline: none;
  padding: 8px;
  background-color: #E3C24A;
  text-align: center;
  border-radius: 10px;
  margin-bottom: 0px;
  text-decoration: none;
}

body .index_wrapper .green_bk .white_bk .package_big .register_title a.btn_middle::before {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  opacity: .8;
  background: linear-gradient(90deg, transparent, #fff, transparent);
  transition: 0.5s;
}

body .index_wrapper .green_bk .white_bk .package_big .register_title a.btn_middle:hover::before {
  content: "";
  left: 100%;
}

body .index_wrapper .green_bk .white_bk .package_big .package_small {
  max-width: 1300px;
  margin: 0 auto;
  display: inline-flex;
  align-items: center;
  align-self: center;
  flex-wrap: wrap;
}

body .index_wrapper .green_bk .white_bk .package_big .package_small .events_card {
  display: flex;
  flex-direction: column;
  background-color: #EBEBEB;
  box-shadow: -5px 5px 4px #C1BDBD;
  padding: 25px;
  margin: 0px 30px 30px 0px;
}

body .index_wrapper .green_bk .white_bk .package_big .package_small .events_card a.card_each {
  outline: none;
  text-decoration: none;
}

body .index_wrapper .green_bk .white_bk .package_big .package_small .events_card a.card_each .img_circle {
  position: relative;
  overflow: hidden;
}

body .index_wrapper .green_bk .white_bk .package_big .package_small .events_card a.card_each .img_circle::before {
  position: absolute;
  content: '';
  top: 50%;
  left: 50%;
  z-index: 99;
  display: block;
  height: 0;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 100%;
  transform: translate(-50%, -50%);
  opacity: 0;
}

@keyframes circle {
  0% {
    opacity: 1;
  }
  40% {
    opacity: 1;
  }
  100% {
    width: 170%;
    height: 170%;
    opacity: 0;
  }
}

body .index_wrapper .green_bk .white_bk .package_big .package_small .events_card a.card_each .img_circle:hover::before {
  animation: circle .90s;
}

body .index_wrapper .green_bk .white_bk .package_big .package_small .events_card a.card_each h4 {
  font-size: 16px;
  color: #818181;
  margin: 8px 0px;
  font-weight: normal;
}

body .index_wrapper .green_bk .white_bk .package_big .package_small .events_card a.card_each h3 {
  font-size: 20px;
  margin: 0px 0px 18px 0px;
  font-weight: normal;
  position: relative;
  overflow: hidden;
  background: linear-gradient(to right, #56793B, #56793B 50%, #000000 50%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 200% 100%;
  background-position: 100%;
  transition: background-position 275ms ease;
}

body .index_wrapper .green_bk .white_bk .package_big .package_small .events_card a.card_each h3:hover {
  background-position: 0 100%;
}

body .index_wrapper .green_bk .white_bk .package_big .package_small .events_card a.btn_small {
  position: relative;
  overflow: hidden;
  width: 33%;
  font-size: 12px;
  font-weight: bold;
  color: white;
  outline: none;
  padding: 7px;
  background-color: #E3C24A;
  text-align: center;
  border-radius: 10px;
  margin-bottom: 0px;
  text-decoration: none;
}

body .index_wrapper .green_bk .white_bk .package_big .package_small .events_card a.btn_small::before {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  opacity: .8;
  background: linear-gradient(90deg, transparent, #fff, transparent);
  transition: 0.5s;
}

body .index_wrapper .green_bk .white_bk .package_big .package_small .events_card a.btn_small:hover::before {
  content: "";
  left: 100%;
}

body .index_wrapper .green_bk .white_bk .package_big .package_small .events_upcome {
  background-color: white;
}

body .index_wrapper .green_bk .white_bk .package_big .package_small .events_upcome a.card_each .img_grey {
  position: relative;
  overflow: hidden;
  filter: grayscale(60%) blur(0.7px);
  transition: .3s ease-in-out;
}

body .index_wrapper .green_bk .white_bk .package_big .package_small .events_upcome a.card_each .img_grey::before {
  position: absolute;
  content: '';
  top: 50%;
  left: 50%;
  z-index: 99;
  display: block;
  height: 0;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 100%;
  transform: translate(-50%, -50%);
  opacity: 0;
}

@keyframes circle {
  0% {
    opacity: 1;
  }
  40% {
    opacity: 1;
  }
  100% {
    width: 170%;
    height: 170%;
    opacity: 0;
  }
}

body .index_wrapper .green_bk .white_bk .package_big .package_small .events_upcome a.card_each .img_grey:hover {
  filter: grayscale(0) blur(0px);
}

body .index_wrapper .green_bk .white_bk .package_big .package_small .events_upcome a.card_each .img_grey:hover::before {
  animation: circle .90s;
}

body .index_wrapper .green_bk .white_bk .package_big .package_small_news {
  max-width: 1300px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

body .index_wrapper .green_bk .white_bk .package_big .package_small_news .news_line_a {
  border: 1.5px solid #56793B;
  width: 96%;
  background-color: #56793B;
}

body .index_wrapper .green_bk .white_bk .package_big .package_small_news a.news_hover {
  outline: none;
  text-decoration: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

body .index_wrapper .green_bk .white_bk .package_big .package_small_news a.news_hover h4 {
  font-size: 16px;
  color: #818181;
  font-weight: normal;
  margin-right: 15px;
}

body .index_wrapper .green_bk .white_bk .package_big .package_small_news a.news_hover h3 {
  font-size: 20px;
  color: black;
  margin: 0px;
  font-weight: normal;
  align-self: center;
  position: relative;
  overflow: hidden;
  background: linear-gradient(to right, #56793B, #56793B 50%, #000000 50%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 200% 100%;
  background-position: 100%;
  transition: background-position 275ms ease;
}

body .index_wrapper .green_bk .white_bk .package_big .package_small_news a.news_hover h3:hover {
  background-position: 0 100%;
}

body .index_wrapper .green_bk .white_bk .package_big .package_small_news .inner_line {
  border: 1.5px solid #EBEBEB;
  width: 96%;
  background-color: #EBEBEB;
}

body .index_wrapper .green_bk .white_bk .package_big .scenes_title .title_line {
  width: 42%;
}

body .index_wrapper .green_bk .white_bk .package_big .package_small_scenes {
  max-width: 1050px;
  border: 3px solid #56793B;
  margin: 0 auto;
  padding: 40px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-bottom: 200px;
  box-shadow: -30px 30px #FDF0D2;
}

body .index_wrapper .green_bk .white_bk .package_big .package_small_scenes .scenes_left {
  max-width: 500px;
  display: flex;
  flex-direction: column;
  margin-right: 40px;
}

body .index_wrapper .green_bk .white_bk .package_big .package_small_scenes .scenes_left h3 {
  font-size: 20px;
  color: black;
  font-weight: bold;
}

body .index_wrapper .green_bk .white_bk .package_big .package_small_scenes .scenes_left h3::first-letter {
  color: #56793B;
}

body .index_wrapper .green_bk .white_bk .package_big .package_small_scenes .scenes_left .scenes_inner_line {
  border: 1px solid #EBEBEB;
  width: 85%;
  background-color: #EBEBEB;
  margin-bottom: 15px;
}

body .index_wrapper .green_bk .white_bk .package_big .package_small_scenes .scenes_left h4 {
  font-size: 16px;
  color: black;
  font-weight: normal;
  margin: 0px;
}

body .index_wrapper .green_bk .white_bk .package_big .package_small_scenes .scenes_left h5 {
  font-size: 12px;
  color: black;
  font-weight: normal;
  margin: 0px 0px 15px 0px;
}

body .index_wrapper .green_bk .white_bk .package_big .package_small_scenes .scenes_left a.scenes_video {
  outline: none;
  position: relative;
  font-size: 16px;
  font-weight: normal;
  color: royalblue;
  overflow: hidden;
  background: linear-gradient(to right, midnightblue, midnightblue 50%, royalblue 50%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 200% 100%;
  background-position: 100%;
  transition: background-position 275ms ease;
  text-decoration: none;
}

body .index_wrapper .green_bk .white_bk .package_big .package_small_scenes .scenes_left a.scenes_video:hover {
  background-position: 0 100%;
}

body .index_wrapper .green_bk .white_bk .package_big .package_small_scenes .scenes_left .scenes_small_photos {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 20px;
}

body .index_wrapper .green_bk .white_bk .package_big .package_small_scenes .scenes_left .scenes_small_photos .small_size {
  max-width: 89px;
  padding: 0px;
  margin: 0px 10px 10px 0px;
}

body .index_wrapper .green_bk .white_bk .package_big .package_small_scenes .scenes_big_photos {
  max-width: 500px;
  align-self: center;
  font-size: 0px;
}

body .index_wrapper .package_big {
  max-width: 1400px;
  border: 1px solid yellow;
  margin: 0 auto;
}

body .index_wrapper .package_big .news_title {
  max-width: 367px;
  margin: 0 auto;
  margin-top: 124px;
  border: 1px solid red;
}

body .index_wrapper .package_big .news_title_word {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  align-content: center;
  padding: 80px 0px 20px 0px;
}

body .index_wrapper .package_big .news_title_word h2 {
  font-size: 30px;
  margin-right: 20px;
  color: #56793B;
  font-weight: bold;
  display: inline-flex;
}

body .index_wrapper .package_big .news_title_word .title_line {
  border: 1.5px solid #EBEBEB;
  background-color: #EBEBEB;
  width: 51%;
  margin-right: 4%;
}

body .index_wrapper .package_big .news_title_word a.btn_middle {
  position: relative;
  overflow: hidden;
  width: 10%;
  font-size: 20px;
  font-weight: bold;
  color: white;
  outline: none;
  padding: 8px;
  background-color: #E3C24A;
  text-align: center;
  border-radius: 10px;
  margin-bottom: 0px;
  text-decoration: none;
}

body .index_wrapper .package_big .news_title_word a.btn_middle::before {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  opacity: .8;
  background: linear-gradient(90deg, transparent, #fff, transparent);
  transition: 0.5s;
}

body .index_wrapper .package_big .news_title_word a.btn_middle:hover::before {
  content: "";
  left: 100%;
}

body .index_wrapper .package_big .news_main {
  border: 1px solid blue;
  max-width: 1200px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin: 0 auto;
  margin-bottom: 200px;
}

body .index_wrapper .package_big .news_main a.news_topic {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  outline: none;
  text-decoration: none;
  background-color: #EDE3CC;
  padding: 20px 0px 20px 20px;
  margin-bottom: 15px;
}

body .index_wrapper .package_big .news_main a.news_topic h4 {
  font-size: 16px;
  color: #818181;
  font-weight: normal;
  align-self: center;
  margin: 0px 15px 0px 0px;
}

body .index_wrapper .package_big .news_main a.news_topic h3 {
  font-size: 20px;
  margin: 0px;
  color: black;
  font-weight: normal;
  align-self: center;
  position: relative;
  overflow: hidden;
  background: linear-gradient(to right, #56793B, #56793B 50%, #000000 50%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 200% 100%;
  background-position: 100%;
  transition: background-position 275ms ease;
}

body .index_wrapper .package_big .news_main a.news_topic h3:hover {
  background-position: 0 100%;
}

body .index_wrapper .contact_green {
  max-width: 100%;
  background-color: #F4F7EC;
  display: flex;
  padding: 50px 0px;
  margin-bottom: 80px;
}

body .index_wrapper .contact_green .contact_title {
  max-width: 1400px;
  margin: 0 auto;
}

body .index_wrapper .package_small {
  margin: 0 auto;
  max-width: 1200px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
}

body .index_wrapper .package_small .contact_address {
  display: flex;
  flex-direction: column;
  margin-right: 100px;
}

body .index_wrapper .package_small .contact_address .address_circle {
  width: 110px;
  height: 110px;
  border-radius: 50%;
  background-color: white;
  box-shadow: -5px 5px 4px #C1BDBD;
  background-image: url("../images/contact_us/location_icon.png");
  background-repeat: no-repeat;
  background-position: center center;
  margin-left: 35px;
}

body .index_wrapper .package_small .contact_address h3 {
  font-size: 20px;
  color: black;
  font-weight: normal;
  display: flex;
  flex-direction: row;
}

body .index_wrapper .package_small .contact_address h3 span.contact_icon {
  display: inline-flex;
  align-self: center;
  margin-right: 10px;
}

body .index_wrapper .package_small .contact_address h3.adress_getting_here {
  position: relative;
  overflow: hidden;
  background: linear-gradient(to right, #56793B, #56793B 50%, #000000 50%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 200% 100%;
  background-position: 100%;
  transition: background-position 275ms ease;
  text-decoration-line: underline;
}

body .index_wrapper .package_small .contact_address h3.adress_getting_here:hover {
  background-position: 0 100%;
}

body .index_wrapper .package_small .contact_address .web_circle {
  background-image: url("../images/contact_us/web_icon.png");
}

body .index_wrapper .package_small .contact_address .message_circle {
  background-image: url("../images/contact_us/message_icon.png");
  margin-left: 45px;
}

body .index_wrapper .package_small .contact_address h5 {
  font-size: 12px;
  color: black;
  font-weight: normal;
  display: flex;
  flex-direction: row;
}

body .index_wrapper .package_small .contact_address h5 span.message_icon {
  display: inline-flex;
  align-self: center;
  margin-right: 10px;
}

body .index_wrapper .package_small .contact_address a.btn_small {
  position: relative;
  overflow: hidden;
  width: 33%;
  font-size: 12px;
  font-weight: bold;
  color: white;
  outline: none;
  padding: 7px;
  background-color: #E3C24A;
  text-align: center;
  border-radius: 10px;
  margin-bottom: 0px;
  text-decoration: none;
}

body .index_wrapper .package_small .contact_address a.btn_small::before {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  opacity: .8;
  background: linear-gradient(90deg, transparent, #fff, transparent);
  transition: 0.5s;
}

body .index_wrapper .package_small .contact_address a.btn_small:hover::before {
  content: "";
  left: 100%;
}
/*# sourceMappingURL=style.css.map */