  //字體map
  $font_size:(
    'h1' : 50px,  
    'h2' : 30px,
    'h3' : 20px,
    'h4' : 16px,
    'h5' : 12px,
    'h6' : 10px,
);


//btn大中小
@mixin btnall($name , $w , $f , $padding , $margin){
      #{$name}{
          width:$w;
          font-size: $f;
          font-weight: bold;
          color:white;
          outline: none;
          padding:$padding;
          background-color:#E3C24A;
      //     background-image: linear-gradient(#E3C24A,#F2DA82);
          text-align: center;
          border-radius: 10px;
          margin-bottom: $margin;
          text-decoration: none;
              &:hover{
                  //background: linear-gradient(#F29702,#F2DA82);

                  // @keyframes shine {
                  //       0% {transform: translateX(-65%);}
                  //       100% {transform: translateX(0%);}
                  // }

                    background-color: lighten(#E3C24A, 10);

                  //   &::after{
                  //         content: "";
                  //         position: absolute;
                  //         top:0px;
                  //         width:10%;
                  //         height: 50%;
                  //         animation: shine 1.5s;
                  //         background: linear-gradient(rgba(255,255,255,0.8), rgba(255,255,255,0.2));
                  //         opacity: .2;
                  //   }
              }
      }
};

//字體margin
$font_margin: 0px 0px 40px 0px; //數字