// homepage_all.scss
body{
    font-family:"微軟正黑體";
    box-sizing: border-box;
    img{
        width:100%;
    }

    // 所有包起來div
    .homepage_wrapper{

        // 第一區banner跟大按鈕
        //首頁banner       
            .visual_banner{
                border: 1px solid red;
                background-image: url("../images/homepage/visual_banner.jpg");
                max-width: 1920px;
                height: 1060px;
                background-repeat: no-repeat;
                background-size: 100%;
                background-position: center top;
                display: flex;

                    .tea_title{
                        border: 1px solid blue;
                        margin: 0 auto;
                        width: 1200px;
                        display:flex;
                        flex-direction:row-reverse;
                            .title_font{
                                border: 1px solid black;                                
                                display:flex;
                                flex-direction:column;
                                padding-top:20%;
                                    .title_image{
                                        border:1px solid green;
                                        max-width:563px;  
                                    }
                                    .title_button{
                                        border: 1px solid yellow;
                                        display:flex;
                                        flex-direction:column;
                                        padding-left: 24%;
                                        margin-top:6%;

                                        //大按鈕mixin
                                        @include btnall('a.btn_wide', 65% , 30px, 10px , 15px );

                                    }
                              
                            }
                            
                    }
            }

            //第二區活動區
            //100%綠色底
            .green_bk{
                border: 1px solid brown;
                background-color: #C5C887;
                width:100%;
                margin: 0 auto;

                //白色底
                .white_bk{
                    border: 1px solid blue;
                    background-color: white;
                    margin: 50px 150px;
                    
                        //標題圖
                        .hot_events{
                            max-width: 367px;
                            margin: 0 auto;
                            margin-top:124px;
                            border:1px solid red;
                        }

                       .package_big{
                           width:1400px;
                           border: 1px solid yellow;
                           margin: 0 auto;

                                .register_title{
                                    display: flex;
                                    align-items: center; 

                                            h2{
                                                // border:1px solid green;
                                                font-size: map-get($font_size, 'h2');
                                                margin:40px 15px 40px 0px;
                                                color:#56793B;
                                                font-weight: bold;
                                                display: inline-flex;
                                             
                                            }
                                                

                                            .title_line{
                                                background-color:#EBEBEB;
                                                border:1.5px solid #EBEBEB;
                                                height: 1.5%;
                                                width:70%;
                                            }
                                        
                                
                                }
                       } 

                }
            }
    




    // 所有包起來div結束
    }
}