// homepage_all.scss
body{
    font-family:"微軟正黑體";
    box-sizing: border-box;
    img{
        width:100%;
    }


    // 所有包起來div
    .index_wrapper{

        // 第一區banner跟大按鈕
        //首頁banner       
            .visual_banner{
                // border: 1px solid red;
                background-image: url("../images/homepage/visual_banner.jpg");
                max-width: 1920px;
                height: 1060px;
                background-repeat: no-repeat;
                background-size: 100%;
                background-position: center top;
                display: flex;

                    .tea_title{
                        // border: 1px solid blue;
                        margin: 0 auto;
                        width: 1200px;
                        display:flex;
                        flex-direction:row-reverse;
                            .title_font{
                                // border: 1px solid black;                                
                                display:flex;
                                flex-direction:column;
                                padding-top:20%;
                                    .title_image{
                                        // border:1px solid green;
                                        max-width:563px;  
                                    }
                                    .title_button{
                                        // border: 1px solid yellow;
                                        display:flex;
                                        flex-direction:column;
                                        padding-left: 24%;
                                        margin-top:6%;

                                        //大按鈕mixin
                                        @include btnall('a.btn_wide', 65% , 30px, 10px , #E3C24A ,15px );

                                    }
                              
                            }
                            
                    }
            }

            //第二區活動區
            //100%綠色底
            .green_bk{
                // border: 1px solid brown;
                background-color: #C5C887;
                width:100%;
                margin: 0 auto;
                padding:50px 0px;

                //白色底
                .white_bk{
                    // border: 1px solid blue;
                    background-color: white;
                    // width: calc(100% - 300px);
                    // margin-top:50px;
                    margin: 0px 150px;
                    padding-bottom: 170px;
                    
                        //活動區-第一區活動報名
                        //標題圖
                        .hot_events{
                            max-width: 367px;
                            margin: 0 auto;
                            padding-top:124px;
                            // margin-top:124px;
                            // border:1px solid red;
                        }

                       .package_big{
                           max-width:1400px;
                           margin: 0 auto;
                        //    border: 1px solid yellow;
                           
                                //標題字
                                .register_title{
                                    display: flex;
                                    flex-direction: row;
                                    align-items: center; 
                                    flex-wrap:wrap;
                                    // justify-content: center;
                                    align-content: center;
                                    padding:80px 0px 20px 0px;
                                    // border: 1px solid blue;

                                            h2{
                                                // border:1px solid green;
                                                font-size: map-get($font_size, 'h2');
                                                margin-right: 20px;
                                                color:#56793B;
                                                font-weight: bold;
                                                display: inline-flex;
                                               
                                             
                                            }
                                                
                                            .title_line{
                                                border:1.5px solid #EBEBEB;
                                                background-color:#EBEBEB ;
                                                width:46%;
                                                margin-right: 4%;
                                            }

                                           //中按鈕mixin
                                            @include btnall('a.btn_middle', 10% , 20px, 8px , #E3C24A, 0px );
                                        
                                
                                }

                                .package_small{
                                    max-width: 1300px;
                                    // border: 1px solid blue;
                                    margin: 0 auto;
                                    display:inline-flex;
                                    align-items: center; 
                                    align-self: center;
                                    flex-wrap:wrap;

                                        //活動區-第一區活動報名
                                        .events_card{
                                            display:flex;
                                            flex-direction: column;
                                            // background-color:white ;
                                            background-color:#EBEBEB ;
                                            // box-shadow:-5px 5px 4px #C1BDBD;
                                            // box-shadow:0px 2px 8px rgb(0 0 0 / 90%);
                                            box-shadow:0px 2px 8px  #C1BDBD;
                                            padding:25px;
                                            margin: 0px 30px 30px 0px;
                                            cursor: pointer;

                                                a.card_each{
                                                    outline: none;
                                                    text-decoration: none;
             
                                                    .img_circle{
                                                        position: relative; //定位用
                                                        overflow: hidden;

                                                            //hover前元素設定
                                                            &::before{
                                                                position: absolute;
                                                                content: '';
                                                                top: 50%;
                                                                left: 50%;
                                                                z-index: 99;
                                                                display: block;
                                                                height: 0;
                                                                background: rgba(255,255,255,.2);
                                                                border-radius: 100%;
                                                                transform: translate(-50%, -50%);
                                                                opacity: 0;
                                                            }
                                                    }
                                                    
                                                        h4{
                                                            font-size: map-get($font_size, 'h4'); 
                                                            color:#818181;
                                                            margin:8px 0px;
                                                            font-weight: normal;

                                                        }

                                                        h3{
                                                            font-size: map-get($font_size, 'h3'); 
                                                            // color:black;
                                                            margin:0px 0px 18px 0px;
                                                            font-weight: normal;
                                                            // border: 1px solid green;
                                                            position: relative; //定位用
                                                            overflow: hidden;
                                                            // background:linear-gradient(90deg,transparent,black,transparent);
                                                            // background:linear-gradient(90deg,transparent,#625E5E,#000000,transparent);
                                                            // background: linear-gradient(to right, #A3A1A1, #A3A1A1 50%, #000000 50%);
                                                            background: linear-gradient(to right, #56793B, #56793B 50%, #000000 50%);
                                                            background-clip: text;
                                                            -webkit-background-clip: text;
                                                            -webkit-text-fill-color: transparent;
                                                            background-size: 200% 100%;
                                                            background-position: 100%;
                                                            transition: background-position 275ms ease;

                                                        }
                                                
                                                }
                                                    
                                                //小按鈕mixin
                                                @include btnall('a.btn_small', 33% , 12px, 7px , #E3C24A , 0px );
                                            
                                            //卡牌hover後
                                            &:hover{
                                                box-shadow:0px 10px 20px  #CBC7C7;
                                                transform: translateY(-1.5%);
                                                transition: .3s ease-in-out;

                                                    //圖片的hover
                                                    .img_circle{
                                                        //hover動畫
                                                        @keyframes circle {
                                                            0% {
                                                            opacity: 1;
                                                            }
                                                            40% {
                                                            opacity: 1;
                                                            }
                                                            100% {
                                                            width: 170%;
                                                            height: 170%;
                                                            opacity: 0;
                                                            }
                                                        }
                                                        &::before{
                                                            animation: circle 1.5s;
                                                        }
                                                    }
                                                    //文字變綠色hover
                                                    h3.events_title{
                                                        // -webkit-text-fill-color: #56793B;
                                                        background-position: 0 100%;
                                                        // background: linear-gradient(to right, #56793B, #56793B 50%, #000000 50%);
                                                    }
                                            }
                                        }

                                        //活動區-第二區活動預告
                                        .events_upcome{
                                            background-color:white ;
                                            // position: relative;

                                                a.card_each{
                                                    //調整圖片hover效果
                                                    .img_grey{
                                                        position: relative; //定位用
                                                        overflow: hidden;
                                                        -webkit-filter: grayscale(80%) blur(1px);//灰階跟模糊
                                                        filter: grayscale(80%) blur(1px);
                                                        -webkit-transition: .3s ease-in-out;
                                                        transition: .3s ease-in-out;

                                                        //hover前元素設定
                                                        &::before{
                                                            position: absolute;
                                                            content: '';
                                                            top: 50%;
                                                            left: 50%;
                                                            z-index: 99;
                                                            display: block;
                                                            height: 0;
                                                            background: rgba(255,255,255,.2);
                                                            border-radius: 100%;
                                                            transform: translate(-50%, -50%);
                                                            opacity: 0;
                                                        }

                                                        // &:hover{
                                                        //     -webkit-filter: grayscale(0) blur(0px);
                                                        //     filter: grayscale(0) blur(0px);
                                                        //         &::before{
                                                        //             animation: circle 1.5s;
                                                        //         }
                                                        // }
                                                    }

                                                }

                                            &:hover{
                                                a.card_each{
                                                    //圖片hover設定
                                                    .img_grey{
                                                        -webkit-filter: grayscale(0) blur(0px);
                                                        filter: grayscale(0) blur(0px);
                                                    
                                                            &::before{
                                                                animation: circle 1.5s;
                                                            }
                                                    }
                                                }
                                            }
                                            
                                        }

                                }//package_small結尾

                                //活動區-第三區活動公告
                                .package_small_news{
                                    max-width: 1300px;
                                    // border: 1px solid grey;
                                    display:flex;
                                    flex-direction: column;
                                    flex-wrap: wrap;
                                    // align-content: center;
                                    // justify-content: center;

                                        //綠色線
                                        .news_line_a{
                                            border: 1.5px solid #56793B;
                                            width:96%;
                                            background-color:#56793B ;
                                        }

                                        //公告標題區
                                        a.news_hover{
                                            outline: none;
                                            text-decoration: none;
                                            display: flex;
                                            flex-direction: row;
                                            flex-wrap: wrap;
                                            width:96%;

                                                h4{
                                                    font-size: map-get($font_size, 'h4'); 
                                                    color:#818181;
                                                    font-weight: normal;
                                                    margin:25px 15px;
                                                    // border:1px solid pink;
                                                        
                                                }

                                                .news_rotate{
                                                    // border: 1px solid red; 
                                                    position: relative;
                                                    width:1000px;
                                                    display:flex;
                                                    flex-direction: column;
                                                    flex-wrap: wrap;
                                                    justify-content: center;

                                                        h3{
                                                            // border: 1px solid yellow;
                                                            font-size: map-get($font_size, 'h3'); 
                                                            color:black;
                                                            margin:0px;
                                                            font-weight: normal;
                                                            -webkit-transition: all .3s;
                                                            transition: all .3s;
                                                            // align-self: center;
                                                            // position: relative; //定位用
                                                            // overflow: hidden;
                                                            // background: linear-gradient(to right, #56793B, #56793B 50%, #000000 50%);
                                                            // background-clip: text;
                                                            // -webkit-background-clip: text;
                                                            // -webkit-text-fill-color: transparent;
                                                            // background-size: 200% 100%;
                                                            // background-position: 100%;
                                                            // transition: background-position 275ms ease;
        
                                                            // &:hover {
                                                            //     background-position: 0 100%;
                                                            // }

                                                            &:nth-child(1){
                                                                color:#56793B;
                                                                margin:0px;
                                                                -webkit-transform: rotateX(90deg);
                                                                -moz-transform: rotateX(90deg);
                                                                transform: rotateX(90deg);
                                                                -webkit-transform-origin: 50% 50% -20px;
                                                                -moz-transform-origin: 50% 50% -20px;
                                                                transform-origin: 50% 50% -20px;
                                                            }

                                                            &:nth-child(2){
                                                                position: absolute;
                                                                left:0px;
                                                                transform: translateY(-50%);
                                                                -webkit-transform: rotateX(0deg);
                                                                -moz-transform: rotateX(0deg);
                                                                transform: rotateX(0deg);
                                                                -webkit-transform-origin: 50% 50% -20px;
                                                                -moz-transform-origin: 50% 50% -20px;
                                                                transform-origin: 50% 50% -20px;
                                                            }
                                                        }
                                                }

                                            &:hover{
                                                box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
                                                7px 7px 20px 0px rgba(0,0,0,.1),
                                                4px 4px 5px 0px rgba(0,0,0,.1);
                                                transition: all .4s;

                                                    h3{
                                                        &:nth-child(1){
                                                            -webkit-transform: rotateX(0deg);
                                                            -moz-transform: rotateX(0deg);
                                                            transform: rotateX(0deg);
                                                        }

                                                        &:nth-child(2){
                                                            color: transparent;
                                                            -webkit-transform: rotateX(-90deg);
                                                            -moz-transform: rotateX(-90deg);
                                                            transform: rotateX(-90deg);
                                                        }
                                                        
                                                    }
                                            }

                                        }
                                        
                                        .inner_line{
                                            border: 1.5px solid #EBEBEB;
                                            width:96%;
                                            background-color:#EBEBEB ;

                                        }

                                }//package_small_newsr結尾

                               
                                // 活動區-第四區活動花絮
                                .scenes_title{
                                    .title_line{
                                        width:42%;
                                    }
                                }

                                .package_small_scenes{
                                    max-width:1050px;
                                    border: 3px solid #56793B;
                                    margin: 0 auto;
                                    padding:40px;
                                    // cursor: pointer;
                                    display: flex;
                                    flex-direction:row;
                                    flex-wrap: wrap;
                                    // margin-bottom: 170px;
                                    box-shadow: -30px 30px #FDF0D2;
                                    // border: 1px solid blue;

                                        .scenes_left{
                                            // border:1px solid blue;
                                            max-width: 500px;
                                            display: flex;
                                            flex-direction: column;
                                            margin-right: 40px;
                                            // cursor: pointer;
                                            

                                                h3{
                                                    // border: 1px solid pink;
                                                    font-size: map-get($font_size, 'h3'); 
                                                    color: black;
                                                    font-weight: bold;


                                                        &::first-letter{
                                                            // background-color: #56793B;
                                                            // margin-right: 1%;
                                                            color: #56793B;
                                                            // padding:0px;
                                                            // border: 1px solid red;
                                                        }


                                                }

                                                .scenes_inner_line{
                                                    border: 1px solid #EBEBEB;
                                                    width:85%;
                                                    background-color:#EBEBEB ;
                                                    margin-bottom: 15px;
                                                }

                                                h4{
                                                    font-size: map-get($font_size, 'h4'); 
                                                    color:black;
                                                    font-weight: normal;
                                                    margin:0px;

                                                }

                                                h5{
                                                    font-size: map-get($font_size, 'h5'); 
                                                    color:black;
                                                    font-weight: normal;
                                                    margin: 0px 0px 15px 0px;

                                                }

                                                a.scenes_video{
                                                    outline: none;
                                                    position: relative;
                                                    font-size: map-get($font_size, 'h4'); 
                                                    font-weight: normal;
                                                    color: royalblue;
                                                    overflow: hidden;
                                                    background: linear-gradient(to right, midnightblue, midnightblue 50%, royalblue 50%);
                                                    background-clip: text;
                                                    -webkit-background-clip: text;
                                                    -webkit-text-fill-color: transparent;
                                                    background-size: 200% 100%;
                                                    background-position: 100%;
                                                    transition: background-position 275ms ease;
                                                    text-decoration: none; 

                                                    &:hover {
                                                      background-position: 0 100%;
                                                    }
                                                }

                                                .scenes_small_photos{
                                                    z-index: 99;
                                                    cursor: pointer;
                                                    display:flex;
                                                    flex-direction:row;
                                                    flex-wrap: wrap;
                                                    // align-content: center;
                                                    // border:1px solid brown;
                                                    justify-content: space-around;
                                                    margin-top: 20px;

                                                        a.small_size{
                                                        // border:1px solid black;
                                                        max-width: 89px;
                                                        padding:0px;
                                                        margin: 0px 10px 5px 0px;

                                                        &:hover{
                                                            opacity: .7;
                                                        }

                                                        }
                                                }


                                        }//scenes_left結尾

                                        //右邊大圖
                                        .scenes_big_photos{
                                            max-width:490px;
                                            // border: 1px solid black;
                                            align-self: center;
                                            font-size: 0px;
                                            position: relative;

                                                div{
                                                    position: absolute;
                                                    top:0px;
                                                    display:none;
                                                     
                                                        &:target{
                                                            display:flex;
                                                        }
                                                }
                                        }
                                }//package_small_scenes結尾
                       } //package_big結尾
                }//white_bk結尾
            }//green_bk結尾
    

            //第三區茶山茶事公告區
            .package_big{
                max-width:1400px;
                // border: 1px solid yellow;
                margin: 0 auto;
                // padding-bottom: 150px;

                    //標題圖
                    .news_title{
                        max-width: 367px;
                        margin: 0 auto;
                        margin-top:124px;
                        // border:1px solid red;
                    }

                    //標題字
                    .news_title_word{
                        display: flex;
                        flex-direction: row;
                        align-items: center; 
                        flex-wrap:wrap;
                        // justify-content: center;
                        align-content: center;
                        padding:80px 0px 20px 0px;
                        // border: 1px solid blue;

                                h2{
                                    // border:1px solid green;
                                    font-size: map-get($font_size, 'h2');
                                    margin-right: 20px;
                                    color:#56793B;
                                    font-weight: bold;
                                    display: inline-flex;
                                
                                
                                }
                                    
                                .title_line{
                                    border:1.5px solid #EBEBEB;
                                    background-color:#EBEBEB ;
                                    width:51%;
                                    margin-right: 4%;
                                }

                            //中按鈕mixin
                                @include btnall('a.btn_middle', 10% , 20px, 8px , #E3C24A, 0px );

                    }

                    //公告標題
                    .news_main{
                        // border:1px solid blue;
                        max-width: 1200px;
                        display: flex;
                        flex-direction: column;
                        // justify-content: center;
                        flex-wrap: wrap;
                        // align-content: center;
                        margin: 0 auto;
                        margin-bottom: 150px;

                            a.news_topic{
                                display: flex;
                                flex-direction: row;
                                flex-wrap: wrap;
                                outline: none;
                                text-decoration: none;
                                background-color: #EDE3CC;
                                padding:20px 0px 20px 20px;
                                margin-bottom: 15px;
                                box-shadow:0px 2px 8px  #C1BDBD;
                                position:relative; //給hover線定位用

                                //hover線
                                &::before,&::after{
                                    content:'';
                                    position:absolute;
                                    top:0;
                                    right:0;
                                    height:2px;
                                    width:0;
                                    background: #EDE3CC;
                                    box-shadow:
                                     -1px -1px 5px 0px #fff,
                                     7px 7px 20px 0px #0003,
                                     4px 4px 5px 0px #0002;
                                    transition:400ms ease all;
                                }

                                &::after{
                                    right:inherit;
                                    top:inherit;
                                    left:0;
                                    background: #EDE3CC;
                                    bottom:0;
                                }

                                        h4{
                                            font-size: map-get($font_size, 'h4'); 
                                            color:#818181;
                                            font-weight: normal;
                                            align-self: center;
                                            margin: 0px 15px 0px 0px;
                                        }

                                        h3{
                                            font-size: map-get($font_size, 'h3');
                                            margin:0px; 
                                            color:black;
                                            font-weight: normal;
                                            align-self: center;
                                            position: relative; //定位用
                                            overflow: hidden;
                                            background: linear-gradient(to right, #56793B, #56793B 50%, #000000 50%);
                                            background-clip: text;
                                            -webkit-background-clip: text;
                                            -webkit-text-fill-color: transparent;
                                            background-size: 200% 100%;
                                            background-position: 100%;
                                            transition: background-position 275ms ease;

                                            // &:hover {
                                            //     background-position: 0 100%;
                                            // }
                                        }

                                    &:hover{
                                        //陰影
                                        // box-shadow:0px 10px 10px  #CBC7C7;
                                        // transform: translateY(-1.5%);
                                        // transition: .3s ease-in-out;
                                        // color: #f0094a;
                                        background: transparent;
                                        box-shadow:none;

                                        &::before,&::after{
                                            width:100%;
                                            transition:800ms ease all;
                                        }

                                            //文字
                                            h3.news_topic_title{
                                                background-position: 0 100%;
                                            }
                                            
                                    }
                            }
                    }              
            }//package_big結尾

            //第四區用心茶覺聯繫區
            //綠色標題底
            .contact_green{
                max-width: 100%;
                background-color: #F4F7EC;
                display: flex;
                padding:50px 0px;
                margin-bottom: 80px;
                // border: 1px solid black;

                    .contact_title{
                        // border:1px solid blue;
                        max-width: 1400px;
                        margin: 0 auto;
                    }
            }

            //1200線
            .package_small{
                // border:1px solid blue;
                margin: 0 auto;
                max-width: 1200px;
                display: flex;
                flex-direction: row;
                justify-content: center;
                // justify-content:space-around;
                flex-wrap: wrap;
                margin-bottom: 150px;

                    //地址區1
                    .contact_address{
                        // border: 1px solid black;
                        display: flex;
                        flex-direction: column;
                        padding:0px 80px;
                        // margin-right: 0px;
                        // justify-content: center;
                        // align-items: center; 
                        // margin: 0px 100px 150px 0px;  

                            .address_circle{
                                width:110px;
                                height: 110px;
                                border-radius:50%;
                                background-color: white;
                                box-shadow: -5px 5px 4px #C1BDBD ;
                                // vertical-align: middle;
                                background-image: url("../images/contact_us/location_icon.png");
                                background-repeat: no-repeat;
                                background-position: center center;
                                // margin-left:35px; 
                                align-self: center;
                                // border: 1px solid green;
                            }

                            h3{
                                font-size: map-get($font_size, 'h3'); 
                                color: black;
                                font-weight:normal;
                                // border: 1px solid blue;
                                display: flex;
                                flex-direction: row;
                                // align-self: center;
                                margin:20px 0px 0px 0px;

                                    span.contact_icon{
                                        // border: 1px solid green;
                                        display: inline-flex;
                                        align-self: center;
                                        margin-right: 10px;
                                    }

                            }

                            h3.adress_getting_here{
                                position: relative; //定位用
                                overflow: hidden;
                                background: linear-gradient(to right, #56793B, #56793B 50%, #000000 50%);
                                background-clip: text;
                                -webkit-background-clip: text;
                                -webkit-text-fill-color: transparent;
                                background-size: 200% 100%;
                                background-position: 100%;
                                transition: background-position 275ms ease;
                                // text-decoration-line: underline;

                                &:hover {
                                    background-position: 0 100%;
                                }
                            }


                            //網站區2
                            .web_circle{
                                background-image: url("../images/contact_us/web_icon.png");
                            }

                            //留言區3
                            .message_circle{
                                background-image: url("../images/contact_us/message_icon.png");
                                // margin-left:45px;
                            }

                            h5{
                                font-size: map-get($font_size, 'h5'); 
                                color:black;
                                font-weight: normal;
                                display: flex;
                                flex-direction: row;
                                // border: 1px solid blue;


                                    span.message_icon{
                                        display: inline-flex;
                                        align-self: center;
                                        margin-right: 10px;
                                    }
                            }

                            //小按鈕mixin
                            @include btnall('a.btn_small', 33% , 12px, 7px , #E3C24A , 0px );
  
                    }
            }

            //回去頂端按鈕
            .toTop-arrow{
                width:60px;
                height:60px;
                border-radius:50%;
                position:fixed;
                right: 10%;
                bottom: 20px;
                border:none;
                background-color:#D8D8D8;
                cursor: pointer;
                overflow:hidden; //隱藏偽元素

                    &::after{
                        content: "";
                        position: absolute;
                        height: 0px;
                        top:0;
                        left:0;
                        display: block;
                        z-index: -1;
                        background-color: #E3C24A;
                        transition: all .3s ease-in-out;
                    }

                            h4{
                                font-size: map-get($font_size, 'h4'); 
                                font-weight: normal;
                                margin:0px;
                                color:white;
                            }

                &:hover{
                    &::after{
                        width: 60px;
                        height: 60px;
                        bottom: 0;
                        height: 100%;  
                        transition: .3s ease-in-out all;
                    }
                }

            }

    }// 所有包起來index_div結束


}//body結束